.autocompleteWrapper{
	margin: auto;
	width: 20%;
	min-width: 200px;
}

.PersonCompare{
	box-sizing: border-box;
	padding: 36px 2%;
	height: 100%;
}

.People{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.commonCreditsWrapper{
	margin-bottom: 5px;
	padding: 3px;
	border: 1px solid;
}

.helpText{
	text-align: center;
	font-size: 2em;
}
